egl_has_extension_nocontext
glx_beginend
glx_glxgetprocaddress_nocontext
glx_has_extension_nocontext
glx_public_api
glx_public_api_core
glx_shared_znow
glx_static
headerguards
miscdefines
wgl_core_and_exts
*.log
*.trs
